extends ../index


append variables
  - 
    var attrsBody = {
      class: 'nav-slim'
    }

  - var disableNavigationType = true;
  - var disableVerticalNavbarAppearance = true;
  - var disableHorizontalNavbarShape = true;
  
append headScripts
  script(src=`${CWD}assets/js/demo.js`) 

block navbarHorizontal
  +NavbarTopSlim({
      toggleID: 'navbarVerticalCollapse',
      links: false,
      search: true
    }).navbar-expand